<!-- <p>navbar works!</p> -->
<div class="navbar navbar-expand ">
    <div class="container-fluid ">
        <div class="navbar-brand">
            <svg width="204" height="54" viewBox="0 0 204 54" fill="none" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="204" height="54" fill="url(#pattern0_12_41)" />
                <defs>
                    <pattern id="pattern0_12_41" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0_12_41"
                            transform="matrix(0.00333045 0 0 0.0125817 -0.132353 -0.0221405)" />
                    </pattern>
                </defs>
            </svg>


        </div>
        <!-- <div class="collapse navbar-collapse">
            <ul class="nav me-auto">
                </ul>
                <a href="#" class="user-icon">
                <i class="fas fa-user"></i>
                </a>
        </div> -->

        <div class="navbar-container">
            <div class="navbar-logo">
                <!-- <a href="#">Logo</a> -->
            </div>
            <!-- <ul class="navbar-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul> -->
            <div class="navbar-user-icon">
                <i class="fas fa-user" (click)="userclick()"></i>
            </div>
        </div>

    </div>

</div>